/*头部和身体左边*/
body,p,h1,ul,li,form{
	margin:0;
	padding:0
}
.head{
	height:50px;
	background-color:#56adeb;
}
.gk{
	position:relative;
	margin-left:30px;
	margin-top:-34px;
	color:white;
}
.hr{
	position:relative;
	margin-top:-40px;
	margin-left:90%;
	color:white;
}
.mainT{
	height:80px;
	background-color:#f6f5fa;
}
.mainL{
	height:600px;
	width:300px;
	background-color:#f6f5fa;
}
ul{
	position:relative;
	margin-top:-490px;
	list-style:none;
}
a{
	text-decoration:none;
}
li{
	width:300px;
	height:40px;
	color:#270a79;
	text-align:center;
 	line-height:40px;
 	cursor:pointer
 }
.photo{
	position:relative;
	margin-left:90px;
	margin-top:-300px;
}
.photo img{
	border-radius:50%
}
li:active{
	color:red
}
.search{
	position:relative;
	margin-left:330px;
	margin-top:-135px;
}
#add{
	position:relative;
	margin-left:90%;
	margin-top:-24px
}
.btn{
	cursor:pointer
}

/*添加弹出界面*/
#backgr{
	position:absolute;
	background-color:#282828;
	width:100%;
	height:100%;
	opacity:0.5;
	display:none;
	z-index:2
}
#ad{
	position:absolute;
	margin-left:38%;
	margin-top:-660px;
	display:none;
	width:350px;
	height:430px;
	background-color:#56adeb;
	opacity:0.9;
	border-radius:0.5em;
	z-index:3
}
#x{
	position:relative;
	font-size:1.3em;
	margin-top:-40px;
	margin-left:90%;
	z-index:3;
	cursor:pointer;
}
#editor{
	position:relative;
	margin-left:18%;
	z-index:4;
    margin-top:30px
}
#edit1,#edit2,#edit3,#edit4{
	height:18px;
	width:180px
}
#edit5{
	height:60px;
	width:180px
}
#save{
	position:relative;
	margin-left:8%;
	margin-top:-350px;
	cursor:pointer
}
.active{
	background-color:grey
}

/*表格数据*/
#data{
	position:relative;
	margin-left:300px;
	margin-top:1.6%;
	height:600px;
}

/*底部*/
.foot{
	position:relative;
	margin-bottom:0px;
	height:100px;
	background-color:#56adeb;
}
.produc{
	position:relative;
	text-align:center;
	margin-top:-75px;
	color:white;
}